<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<%-include('../users/layouts/header.ejs') -%>
<style>
    .colorlib-product {
        padding: 50px 0;
    }
    
    .colorlib-product .row.row-pb-md {
        margin-top: 20px;
    }
    
    .colorlib-product .product-entry {
        height: 400px;
        position: relative;
    }
    
    .colorlib-product .product-entry .prod-img {
        display: block;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    
    .colorlib-product .product-entry .prod-img img {
        width: 100%;
    }
    
    .colorlib-product .product-entry .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        background-color: #fff;
    }
    
    .colorlib-product .product-entry .desc h7 {
        font-size: 16px;
        margin: 0;
    }
    
    .colorlib-product .product-entry .desc .price {
        font-size: 18px;
        font-weight: 600;
        color: #c221cb;
        margin-top: 10px;
    }
    
    .colorlib-product .product-entry .btn-link {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    
    .colorlib-product .product-entry .btn-view {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    </style>

     <div class="sale">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center">
					<div class="row">
						<div class="owl-carousel2">
							<div class="item">
								<div class="col">
									<h3><a href="#"></a></h3>
								</div>
							</div>
							<div class="item">
								<div class="col">
									<!-- <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>   -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
	</nav> 
	 <aside id="colorlib-hero">
       <div class="container">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url(images/img_bg_2.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Women's</h1>
										<h2 class="head-2">Shoes</h2>
										<h2 class="head-3">Collection</h2>
										<p class="category"><span>New trending shoes</span></p>

									</div>
								</div>
							</div>
						</div>
                        
					</div>
				</li>
		<!-- </button> -->
			</li>
        
				<li style="size: 300px;  background-image: url(images/womecover.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Huge</h1>
										<h2 class="head-2">Sale</h2>
										<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
										<p class="category"><span>Big sale sandals</span></p>
										<!-- <p><a href="#" class="btn btn-primary">Shop Collection</a></p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(images/view-dwn5.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">New</h1>
										<h2 class="head-2">Arrival</h2>
										<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
										<p class="category"><span>New stylish shoes for men</span></p>
										<!-- <p><a href="#" class="btn btn-primary">Shop Collection</a></p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
      </div>  
	</aside>
	<div class="colorlib-intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I
						wanted myself.</h2>
				</div>
			</div>
		</div>
	</div>
    <!-- ------------------- -->
	<!-- <div class="colorlib-product">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 text-center">
					<div class="featured">
						<a href="#" class="featured-img" style="background-image: url(images/item40.jpg);"></a>
						<p><a href="/shop" class="btn btn-success">Shop Collection</a></p>
						<div class="desc">
							<h2><a href="#">Women's Shoe Collection</a></h2>
                        </div>
					</div>
				</div>
				<div class="col-sm-6 text-center">
					<div class="featured">
						<a href="#" class="featured-img"
							style="background-image:url(http://images6.fanpop.com/image/photos/33400000/Pink-heels-womens-shoes-33470331-1600-1188.jpg);"></a>
						<p><a href="/shop" class="btn btn-warning">Shop Collection</a></p></a>
						<div class="desc">
							<h2><a href="#">Women's Heels Collection</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div class="colorlib-product">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<h2>Best Sellers</h2>
				</div>
			</div> -->
            <!-- ----------------- -->
            <div class="container">
            <div class="colorlib-product" style="background-color: #f8f8f8;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="featured">
                                <a href="#" class="featured-img" style="background-image: url(images/item40.jpg);"></a>
                                <p><a href="/shop" class="btn btn-success">Shop Collection</a></p>
                                <div class="desc">
                                    <h2><a href="#">Women's Shoe Collection</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="featured">
                                <a href="#" class="featured-img"
                                    style="background-image:url(http://images6.fanpop.com/image/photos/33400000/Pink-heels-womens-shoes-33470331-1600-1188.jpg);"></a>
                                <p><a href="/shop" class="btn btn-warning">Shop Collection</a></p></a>
                                <div class="desc">
                                    <h2><a href="#">Women's Heels Collection</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="colorlib-product" style="background-image: url(images/bestsellers-background.jpg); background-size: cover;">
                <div class="container">
                    <div class="row">
                            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                                <h2>Best Sellers</h2>
                                <!-- <a href="/home?sort=low">
                                    <button type="button" class="btn-info">Sort Price: Low to High</button>
                                </a>
                                <a href="/home?sort=high">
                                    <button type="button" class="btn-info">Sort Price: Hight to Low</button>
                                </a> -->
                            </div>
                        </div>
                </div>
            </div>
     <!-- -----------------new -->
     <div class="container">
             <div class="row row-pb-md">
				<% products.forEach(function(products,i) { %>
					<div class="col-lg-3 mb-4 text-center">

						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/<%=products.image[0]%>" class="img-fluid"
									alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc" style="color: blue;">
								<h7><a style="color: rgba(194, 33, 203, 0.58);" class="text-decoration-none fw-light offset fs-6"href="#"><%=products.name%></a></h7>
								<span class="price">₹ <%=products.price%></span>
							</div>
							<p></p>
	<button type="button" onclick="addwishlist('<%= products._id %>')" class="btn btn-link">
        <i class="fa fa-heart"  style="color: rgb(236, 63, 92);"></i>
      </button>
     <button type="button" class="btn btn-link btn-view" style="color:rgb(193, 30, 30);"><a href="product-detail?pid=<%= products._id %>" value="submit">view</button>  
        <!-- <div class="text-<%= products.status == 'In Stock' ? 'success' : 'danger' %>"><%= products.status %></div>  -->
 <!-- <button type="button" class="btn btn-link" style="color: white; background-color: blue; border-color: blue;"><a href="product-detail" value="submit" style="text-decoration:none; color: inherit;">view</a></button> -->
    
                        </div>
					</div>
					<%})%>
			</div> 
     </div>
            <!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Minam Meaghan</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-3.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Taja Commissioner</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					< <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-4.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Russ Women's Sneakers</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="w-100"></div>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-5.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div>
                   </div>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-6.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template"> -->
			<!-- </a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-7.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-8.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div class="w-100"></div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-9.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-10.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border"> -->
			<!-- <a href="#" class="prod-img">
								<img src="images/item-11.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-12.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div> -->
			<!-- </div>
					<div class="w-100"></div>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-13.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-14.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- <div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="images/item-16.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">Women's Boots Shoes Maca</a></h2>
								<span class="price">$139.00</span>
							</div>
						</div>
					</div> -->
			<!-- </div>  -->
			<div class="row">
				<div class="col-md-12 text-center">
					<p><a class="btn btn-primary btn-lg" href="/shop">Shop All Products</a></p>
				</div>
			</div>
		</div>
	</div>

	  <!--<button type="button" class="btn btn-warning"><a href="/logout">Logout</button>-->
     
	</div>

	<footer id="colorlib-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4>About Footwear</h4>
					<p>The right kind of women’s footwear can also do wonders for your outfits, transforming them from ordinary to outstanding.</p>
					<p>
					<ul class="colorlib-social-icons">
						<!-- <li><a href="#"><i class="icon-twitter"></i></a></li> -->
						<!-- <li><a href="#"><i class="icon-facebook"></i></a></li> -->
						<!-- <li><a href="#"><i class="icon-linkedin"></i></a></li> -->
						<!-- <li><a href="#"><i class="icon-dribbble"></i></a></li> -->
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Customer Care</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">Contact</a></li>
						<!-- <li><a href="#"></a></li> -->
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Special</a></li>
					    
					</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Information</h4>
					<p>
					<ul class="colorlib-footer-links">
						<li><a href="#">About us</a></li>
						<li><a href="#">product Detail</a></li>
						<!-- <li><a href="#">Privacy Policy</a></li> -->
						<!-- <li><a href="#">Support</a></li> -->
						<li><a href="#">Order Tracking</a></li>
					</ul>
					</p>
				</div>

				<!-- <div class="col footer-col">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Exhibitions</a></li>
					</ul>
				</div> -->
				<!-- <input class="text-center fw-bold mx-3 mb-0 text-muted" type="submit" value="Login" class="btn btn-primary btn-lg btn-block" style="background-color:blue;">   <a href="#!">product-detail</a> -->
				<div class="col footer-col">
					   <h4>Contact Information</h4>
					<ul class="colorlib-footer-links"> 
						<li><br>A1 street, Calicut, Kerala</br></li>
						<li><a href="tel://1234567920">+ 918593931640</a></li>
						<li><a href="mailto:info@yoursite.com">srekrish1a1@gmail.com</a></li>
						<!-- <li><a href="#">yoursite.com</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a
								href="http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>
	<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
    <!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- popper -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function addwishlist(id) {
			// console.log(id);
			$.ajax({
				type: 'post',
				url: '/addwishlist',
				data: {
					proId: id
				},
				dataType: "JSON",
				encode: true
			}).done((data) => {
				console.log(data);
				if (data.key == "added") {
					Swal.fire(
						// 'Good job!',
						// 'You clicked the button!',
						'Item added to cart'
					)
				} else if (data == "alreadyexit") {
					Swal.fire({
						// icon: 'error',
						// title: 'Oops...',
						text: 'Already added!',

					})
				} else if(data == "out of stock") {
					Swal.fire({
						text: 'Out of Stock',
					})
                } else if (data == 'LOGIN FIRST') {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Something went wrong!',
						footer: '<a href="/login">Why do I have this issue?</a>'
					})
				}
			})
		}
	</script>
	</body>
    </html>
	<% include('../layouts/footer.ejs') %>
