<%-include('../users/layouts/header.ejs') -%>

<div class="page-holder">
    
        <!-- HERO SECTION -->
        <!-- <section class="py-5 bg-light" style="margin-top: 0px"> -->
            <!-- <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="col-sm-5 col-md-3">
                            <div class="user-info">
                                <h2 class="h4 text mb-0">
                                    <i class="icon-user"></i>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <nav aria-label="breadcrumb"> -->
                            <!-- <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order history</li>
              </ol> -->
                        <!-- </nav>
                    </div>
                </div>
                <h4>Hi, welcome to womanish</h4>
            </div> -->
        <!-- </section> -->

        <div class="page-content">
            <div class="widget-content widget-content-area add-manage-product-2 mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="admincard card card-default" style="border-color: white !important">
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center flex-coloumn">
                                        <a href="/shop" class="btn btn-success">Go to Shop</a>
                                    </div>
                                    <br />
                                    <h3 class="text-dark text-center">Order history</h3>
                                    <div class="table-responsive mb-4 border border-2 border-black p-3">
                                        <table class="table table-bordered text-nowrap">
                                            <thead class="bg-light">
                                                <tr>
                                                    <!-- <th class="border-0 p-3 ps-3" scope="col">#</th> -->
                                                    <th class="border-0 p-3 ps-3" scope="col">Order ID</th>
                                                    <th class="border-0 p-3 ps-3" scope="col">Ordered Date</th>
                                                    <th class="border-0 p-3 ps-3" scope="col">Items</th>
                                                    <th class="border-0 p-3" scope="col">Total Price</th>
                                                    <th class="border-0 p-3 text-center" scope="col">Status</th>
                                                    <th class="border-0 p-3 text-center" scope="col">Order Details</th>
                                                    <th class="border-0 p-3 text-center" scope="col">Cancel Order</th>
                                                    <th class="border-0 p-3 text-center" scope="col">Return Order</th>
                                                </tr>
                                            </thead>
                                            <tbody class="border-0">
                                                <% orderDetails.forEach((order, i) => { %>
                                                <tr>
                                                    <!-- <td class="ps-0 py-3 border-light ps-3"><%= i+1 %></td> -->
                                                    <td class="align-middle"><%= order._id %></td>
                                                    <td class="align-middle"><%= order.ordered_date.getDate() %>/<%= order.ordered_date.getMonth()+1 %>/<%= order. ordered_date.getFullYear() %></td>
                                                    <td class="align-middle"><%= order.products.length %></td>
                                                    <td class="align-middle"><%= order.bill_amount %></td>
                                                    <td class="p-3 align-middle border-light ps-5">
                                                        <% if(order.order_status.trim()=='pending'){ %>
                                                            <span class="badge border border-warning text-warning px-2 py-1 rounded-3 fw-bold"> <%= order.order_status %> </span>
                                                        <% } else if(order.order_status.trim()=='reject' || order.order_status.trim()== "return") { %>
                                                            <span class="badge border border-success text-danger px-2 py-1 rounded-3 fw-bold"> <%= order.order_status %> </span>
                                                        <% } else { %>
                                                            <span class="badge border border-success text-success px-2 py-1 rounded-3 fw-bold"> <%= order.order_status %> </span>
                                                        <% } %>
                                                    </td>
                                                    <td class="p-4 text-center border-light">
                                                        <a href="/orderDetails/<%= order._id%>" class="btn btn-sm btn-block d-flex align-items-center justify-content-center text-light mt-3" style="background-color: rgb(63, 63, 63)">Order Details</a>
                                                    </td>
                                                    <td class="p-4 text-center border-light align-middle">
                                                        <a href="cancel-order?id=<%= order._id %>" class="text-danger">Cancel</a>
                                                    </td>
                                                    <td class="p-4 text-center border-light align-middle">
                                                        <% if(order.order_status.trim()=='completed' && ((new Date() - order.ordered_date) <= 2*7*24*60*60*1000)) { %>
                                                            <a href="return-order?id=<%= order._id %>" class="text-warning">Return</a>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('../users/layouts/footer.ejs') -%>
